.frame {
  padding: 0 20px;
}

.frame p {
  font-size: 0.9rem;
}

@media (min-width: 600px) {
  .frame {
    padding: 0;
  }
}

.pageTitle {
  letter-spacing: 0.1rem;
}

/* Our Work */
.face {
  padding: 0px 5px 20px 0px;
}

.name {
  box-shadow: none;
  padding: 0;
}

/* .experience {
  padding: 0px 5px 60px 0px;
} */

.descriptionDiv {
  display: flex;
  flex-direction: column;
}

.description {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem auto;
}

.individual {
  min-height: 0;
}

@media (min-width: 573px) {
  .experience {
    max-width: 500px;
  }

  .individual {
    display: flex;

    align-items: center;
    margin: 5rem auto;
  }

  .descriptionDiv {
    flex-direction: row;
  }

  .description {
    width: 43%;
  }
}
