.frame {
  padding: 0 20px;
  margin-bottom: 5rem;
}

@media (min-width: 1110px) {
  .frame {
    padding: 0;
  }
}

/* Get Started */

.getStarted * {
  width: 100px;
  padding: 5px;
  margin-top: 10px;
  color: white;
  background-color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.getStarted:hover {
  color: red;
}

.button {
  color: red;
  background-color: black;
}
