/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase {
  max-height: 80vh;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.client {
  width: 100%;
  text-align: right;
  font-size: 0.9rem;
  margin: 0.5rem 2rem 3rem 0;
}
