.frame {
  padding: 0 20px;
  margin-bottom: 5rem;
}

@media (min-width: 600px) {
  .frame {
    padding: 0;
  }
}

.pageTitle {
  letter-spacing: 0.1rem;
}

/* @media (min-width: 1110px) {
  .frame {
    padding: 0;
  }
} */
