.frame {
  padding: 0 20px;
}

@media (min-width: 600px) {
  .frame {
    padding: 0;
  }
}

.pageTitle {
  letter-spacing: 0.1rem;
}

/* Our Work */
.companypage {
  margin: 0;
}

.companyname {
  font-size: 1em;
  float: right;
  color: darkgrey;
  margin: 0.5rem 0;
}

/* format the containers */
.imgContainer {
  overflow: hidden;
  box-shadow: 0 3px 10px #0000001a;
}

.imgText {
  padding: 0px 5px 20px 0px;
}
