.frame {
  padding: 0 20px;
}

@media (min-width: 600px) {
  .frame {
    padding: 0;
  }
}

.pageTitle {
  letter-spacing: 0.1rem;
}

/* Our Work */
.companypage {
  margin: 0;
  overflow: hidden;
  box-shadow: 0 3px 10px #0000001a;
}

/* .companyname {
  font-size: 1em;
  float: right;
  color: darkgrey;
  margin: 0.5rem 0;
} */

@media (min-width: 600px) {
  .companydescription {
    font-size: 0.9rem;
    max-width: 350px;
  }
}

/* format the containers */
.imgText {
  padding: 0px 5px 20px 0px;
}

.descriptionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;

  /* border: solid 3px red; */
}

.descriptionDiv p {
  font-size: 0.8em;
}

@media (min-width: 1000px) {
  .descriptionDiv {
    padding-left: 50px;
  }
  .descriptionDiv p {
    font-size: 0.9em;
  }
}
