.frame{
    border: 1px dashed lightgrey;
    margin: 3em auto;
    padding: 2em;
}

/* Home */
.Home{
  display:flex;
  justify-content:right;
}

.showcase {
 
  max-height: 80vh;
  object-fit: cover;
}

.client {
  text-align: right;
  font-size: 1.2em;
}

/* Our Work */
.companypage {
    width: 100%;
  }
  
  .companyname {
    font-size: 1em;
    font-family: sans-serif;
    float: right;
    color: darkgrey;
  }
  
  .companydescription {
    font-size: 1em;
    font-family: sans-serif;
    color: #484848;
  }
  
  /* Who We Are */
  .user {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  }
  
  .user:last-child {
    margin-bottom: 0;
  }
  
  
  
  .description {
    flex: 1;
    margin-left: 18px;
    padding: 12px;
  }
  
  .name {
    margin: 0 0 12px 0;
    padding: 0;
  }

  .face {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    margin: 0;
  }
  
  .experience {
    margin: 0;
  }

  /* Get Started */

  /*
  .topic {
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
  }

  .idealwebsite {
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #2f4f4f;
  }

  */

  .getStarted {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    color: white;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
  }
  
  .button {
    color: red;
    background-color: black;
  }