/* Get Started */

.submitDiv {
  width: 100%;
  margin-right: 8px;
}

.submit {
  outline: none;
  border: none;
  width: 120px;
  padding: 5px;
  margin-top: 10px;
  color: white;
  background-color: black;
  font-weight: 700;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
}

.submit:hover {
  background-color: #a5ffd6;
  color: #393d3f;
}

.button {
  color: red;
  background-color: black;
}
