.mainBody {
  padding: 0;
}

.mainDiv {
  max-width: 1200px;

  /* the white space below the header */
  margin-top: 1rem;

  margin-left: auto;
  margin-right: auto;
}

.homepageFrame {
  margin-left: 40px;
  margin-right: 20px;
}

@media (min-width: 600px) {
  .mainBody {
    /* padding: 0 8%; */
  }
  .mainDiv {
    /* max-width: 800px;
    margin: 2rem auto 0; */
    margin-left: 20px;
    margin-right: 20px;
  }

  .homepageFrame {
    margin-left: 40px;
    /* redundant. still deciding whether or not to make homepage full bleed */
  }

  .innerDiv {
    /* margin: 2rem auto; */
  }
}

@media (min-width: 1300px) {
  .mainDiv {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
