.footer {
  margin-top: 10px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footerBar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;

  min-width: 100%;

  padding: 3rem 2rem 1rem 6rem;

  font-size: 2rem;

  color: white;
  text-shadow: 8px 10px 30px black;
  background-color: rgb(36, 36, 36);
  /* background-image: linear-gradient(rgb(18, 18, 18) 0%, rgb(50, 50, 50) 100%); */
}

@media (min-width: 800px) {
  .footer {
    padding: 0 140px;
  }
  .footerBar {
    min-width: 700px;
  }
}
