.headerDiv {
  width: 100%;
  /* max-width: 1100px; */
  margin: 2rem auto 0 auto;

  /* sticky feature */
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  width: 100%;
  margin: 3rem auto 0 auto;
  max-width: 1200px;
  /* padding: 86px 0 15px 0; */
  display: block;
  justify-content: space-between;
  align-items: flex-end;
  /* border-bottom: 1px dashed red; */
  padding-bottom: 15px;
}

@media (min-width: 800px) {
  .headerDiv {
    padding: 0 8%;
  }
}

@media (min-width: 1020px) {
  .header {
    display: flex;
  }
}
