.header {
  width: 100%;
  margin: 3rem auto 10px auto;
  max-width: 1200px;

  /* padding: 86px 0 15px 0; */
  display: block;
  justify-content: space-between;
  align-items: flex-end;
  /* border-bottom: 1px dashed red; */
}

@media (min-width: 800px) {
  .header {
    display: flex;
  }
}
