.default {
  width: 100%;
  z-index: 100;
}

.break {
  height: 1em;
}

@media (min-width: 600px) {
  .break {
    height: 3em;
  }
}

.text {
  position: fixed;
  margin-left: 0;
  width: 330px;
  bottom: 5%;
  margin-left: -20px;
}

.text h1,
h2,
h3 {
  color: black;
  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.02);
  padding: 10px;
}

.text a p {
  width: 250px;
}

.text .h1 {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.text .h2 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.text .h3 {
  font-size: 1rem;
  font-weight: 200;
}

/* to hide description tex on short phones */
@media (max-height: 600px) {
  .text .h3 {
    display: none;
  }
}

@media (min-width: 600px) {
  .text {
    width: 600px;
    /* margin-left: -40px; */
  }
  .text .h1 {
    margin-bottom: 20px;
    font-size: 4rem;
  }
}

@media (min-width: 1100px) {
  .text {
    bottom: 15%;
  }

  .text .h1 {
    width: 900px;
  }

  .text .h2 {
    width: 700px;
  }

  .text .h3 {
    width: 600px;
    padding: 20px;
    line-height: 1.3rem;
  }
}

@media (min-width: 1300px) {
  .text {
    margin-left: -50px;
  }
}
